.footer {
    background-color: #111322;
    color: #CFCFCF;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .copyright {
    font-size: 1rem;
  }
  
  .footerMenu {
    display: flex;
    gap: 30px;
    color: #CFCFCF;
  }
  
  .footerMenu a {
    color: #CFCFCF;
    font-size: 1rem;
    margin: 0;
    text-decoration: none;
  }
  
  .footerMenu a:hover {
    text-decoration: underline;
  }
  
  .socialMedia {
    display: flex;
    gap: 12px;
  }
  
  .socialMedia a {
    display: inline-block;
  }
  
  .socialMedia img {
    width: 20px;
    height: 20px;
    transition: opacity 0.3s ease;
  }
  
  .socialMedia a:hover img {
    opacity: 0.8;
  }
  
  @media (max-width: 1024px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
    }
    .footerMenu {
      gap: 20px;
    }
    .socialMedia {
      gap: 15px;
    }
  }
  
  @media (max-width: 640px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
    .footerMenu {
      margin-top: 1rem;
      gap: 10px;
    }
    .socialMedia {
      margin-top: 1rem;
      gap: 10px;
      justify-content: center;
    }
  }