.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f6ff;
    padding: 1rem 2rem;
  }
  
  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  

  .login-buttonH {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  @media (max-width: 1024px) {
    .header {
      padding: 1rem 1.5rem;
    }
  }
  
  @media (max-width: 640px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
    }
  
    .login-button {
      margin-top: 1rem;
    }
  }