.top-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-color: #f0f6ff;
    margin-bottom: 0;
  }
  
  .text-content {
    width: 100%;
    text-align: center;
    background-color: rgba(240, 246, 255, 0.9);
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 1rem;
  }
  
  .gradient-text {
    background: linear-gradient(90deg, #6d6afe, #ff9f9f);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .description {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 1.5rem;
  }
  
  .add-link-button {
    background: linear-gradient(90deg, #6d6afe 0%, #6ae3fe 100%);
    color: white;
    font-weight: 500;
    padding: 0.5rem 2rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .add-link-button:hover {
    background: linear-gradient(90deg, #6d6afe 30%, #6ae3fe 100%);
  }
  
  .image-content {
    width: 70%;
    height: auto;
    background: linear-gradient(to top, rgba(240, 246, 255, 1), transparent);
    margin-bottom: 0;
  }
  
  @media (max-width: 1024px) {
    .title {
      font-size: 2rem;
    }
  
    .description {
      font-size: 1rem;
    }
  
    .add-link-button {
      padding: 0.5rem 1.5rem;
    }
  }
  
  @media (max-width: 640px) {
    .title {
      font-size: 1.5rem;
    }
  
    .description {
      font-size: 0.9rem;
    }
  
    .add-link-button {
      padding: 0.5rem 1rem;
    }
  
    .image-content {
      height: 40%;
    }
  }